<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MoodlyNoteApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodlyNote">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MoodlyNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
